[gcode_macro SET_HEATER_TEMPERATURE]
rename_existing: SET_HEATER_TEMPERATURE_BASEAR
gcode:
    NEOPIXEL_DISPLAY LED=sb_leds TYPE=bed_temp MODE=glow  # Andrew Rolon Added
    SET_HEATER_TEMPERATURE_BASEAR

    [gcode_macro TURN_OFF_HEATERS]
rename_existing: TURN_OFF_HEATERS_BASE
gcode:

    # call klipper base function
	NEOPIXEL_DISPLAY LED=sb_leds TYPE=clear # Andrew Rolon Added
    TURN_OFF_HEATERS

